<link rel="stylesheet" type="text/css" href="http://code.jquery.com/mobile/1.0.1/jquery.mobile-1.0.1.min.css" />
<link rel="stylesheet" type="text/css" href="http://dev.jtsage.com/cdn/datebox/latest/jquery.mobile.datebox.min.css" /> 

<script type="text/javascript" src="http://code.jquery.com/jquery-1.6.4.min.js"></script> 
<script type="text/javascript" src="http://code.jquery.com/mobile/1.0.1/jquery.mobile-1.0.1.min.js"></script>
<style type="text/css">


input.ui-slider-input, .ui-field-contain input.ui-slider-input {
    display: inline-block;
    width: 60px;
	z-index:5;
	position:absolute;
	top:0px;
	right:0%;
	padding:none;
	text-align:right;
	background:#eaeaea;
	
}
.ui-field-contain{
	margin-left:15px;	
}
#indexer{
	background:green;
	width:80px;
	right:0px;
	top:240px;
	z-index:10;
	height:0px;
	position:absolute;
	
}

#indexer2,#indexer3{
	width:80px;
	right:0px;

	z-index:11;
	height:285px;
	position:absolute;
	
}

#indexershower{
	background:red;
	width:80px;
	right:0%;
	top:280px;
	z-index:15;
	height:20px;
	position:absolute;
	text-align:center;
	text-shadow:none;
	color:#FFF;
	
}
.ui-bar, .ui-body {
clear:none;
width:40%;
float:left;	
}
image{
	
}
.ui-field-contain label.ui-slider {
	padding-left: 10px;
    display: inline-block;
    float: left;
    margin: 0 10% 16px 0;
    vertical-align: top;
    width: 65%;
	font-size:14px;
}
.ui-field-contain div.ui-slider {
    width: 90%;
}

.ui-shadow-inset {
    box-shadow:none;
	border:none;
	width:20%;
}
.ui-body-c, .ui-dialog.ui-overlay-c {
    background:#FFF;
}
#slider8,#slider7,#slider6,#slider5,#slider4,#slider3,#slider2,#slider1{
	background:none;
	
}
#indexer_count{
	background: none repeat scroll 0 0 #FFF;
width:20px;
height:300px;
position: absolute;
    right: 0;
    width: 80px;
    z-index: 11;
}
#calculer{
	width:100%;
	background:#fafafa;
	float:left;
	text-align:left;
	font-weight:bold;
	font-family:Helvetica,Arial,  sans-serif;
	text-align:center;
}
#calc{
	width:25%;
	float:left;
	padding:5px;
	margin:10px;
	border:1px #CCCCCC solid;
}
#titlecalc{
	border:1px #CCCCCC solid;
	background:#fafafa;
	
}
#calc_title{
width:100%;
	background:#eee;
}

.ui-bar, .ui-body {
	clear: none;
    float: left;
    width: 40%;
}



</style>

<script type="text/javascript">

$(document).ready(function(e) {
$('#indexer3').hide();
	
	$( "#slider8,#slider7,#slider6,#slider5,#slider4,#slider3,#slider2,#slider1" ).bind( "change", function(event, ui) {
 
 var value1=Number($('#slider1').val()*0.2);
 var value2=Number($('#slider2').val()*0.02);
 var value3=Number($('#slider3').val()*0.3);
 var value4=Number($('#slider4').val()*0.35);
 var value5=Number($('#slider5').val()*30);
 var value6=Number($('#slider6').val()*120);
 var value7=Number($('#slider7').val()*0.5);
 var value8=Number($('#slider8').val()*0.5);
 var value=value1+value2+value3+value4+value5+value6+value7+value8;
 var valuemax=1000;

console.log(value);
var graphic_value=0;
if(value>valuemax){
	 value=value;

 $('#indexer3').show();
	$('#indexer2').hide();
	
$('#indexershower').html(Math.floor(value)/1000+" Go");
graphic_value=value/40;
		
	
 }else{
	 	graphic_value=value/4;
	 $('#indexer2').show();
	$('#indexer3').hide();
	$('#indexershower').html(Math.floor(100*value)/100+" m");
	
 }
 
 $("#indexer").css("height",graphic_value);
  $("#indexer").css("top",300-graphic_value);
   $("#indexershower").css("top",280-graphic_value);
   
   
   $("#day").html(megagega(value));
   $("#week").html(megagega(value*7));
   $("#mounth").html(megagega(value*30));
});
	
	
});

function megagega(valu){
	if(valu>1000){
		return Math.floor(valu)/1000+" Go";
	}else{
		return Math.floor(100*valu)/100+" m";
	}
}

</script>
</head>

<body>
<div data-role="page" id="page">
<div id="indexer_count">


<div id="indexer">

</div>

<div id="indexer2">
  <img src="indexer.png" width="80" height="300" /></div>


<div id="indexer3">
  <img src="indexer2.png" width="80" height="300" /></div>



<div id="indexershower">0mo
</div>


</div>



  <div data-role="fieldcontain">
  
   <label for="slider1"><img src="web.png" width="200" height="23" /></label>
  <input type="range" name="slider1" id="slider1" value="0"  min="0" max="3000" />
  </div>
  <div data-role="fieldcontain">
    <label for="slider4"><img src="mail.png" width="200" height="23" /></label>
    <input type="range" name="slider2" id="slider2" value="0" min="0" max="1500" />
  </div>
  <div data-role="fieldcontain">
    <label for="slider3"><img src="mailattach.png" width="200" height="23" /></label>
    <input type="range" name="slider3" id="slider3" value="0" min="0" max="1500" />
  </div>
  <div data-role="fieldcontain">
    <label for="slider4"><img src="mailphoto.png" width="200" height="23" /></label>
    <input type="range" name="slider4" id="slider4" value="0" min="0" max="1500" />
  </div>
  <div data-role="fieldcontain">
    <label for="slider5"><img src="music.png" alt="" width="200" height="23" /></label>
    <input type="range" name="slider5" id="slider5" value="0" min="0" max="24" />
  </div>
 
  <div data-role="fieldcontain">
   <label for="slider6"><img src="video.png" alt="" width="200" height="23" /></label>
  <input type="range" name="slider6" id="slider6" value="0" min="0" max="24" />
  </div>
  
  <div data-role="fieldcontain">
    <label for="slider7"><img src="photo.png" alt="" width="200" height="23" /></label>
    <input type="range" name="slider7" id="slider7" value="0" min="0" max="600" />
  </div>
  
  <div data-role="fieldcontain">
    <label for="slider8"><img src="application.png" alt="" width="200" height="23" /></label>
    <input type="range" name="slider8" id="slider8" value="0" min="0" max="300" />
  </div>
  <div id="calculer">
  <div id="calc_title">Consomation</div>
  <div id="calc"><div id="titlecalc">Par Jour</div><div id="day">0 Mo</div></div>
  <div id="calc"><div id="titlecalc">Par Semaine</div><div id="week">0 Mo</div></div>
  <div id="calc"><div id="titlecalc">Par mois</div><div id="mounth">0 Mo</div></div>
  </div>
  
</div>

</body>
<script type="text/javascript" src="js/jquery.powertip.js"></script>

<script type="text/javascript">

$(document).ready(function(e) {$('#indexer3').hide();});

</script>
</html>
